# lme-fleet-server.container
[Unit] 
Description=Fleet Container Service
Requires=lme-elasticsearch.service lme-kibana.service
After=lme-elasticsearch.service lme-kibana.service
PartOf=lme.service

[Service]
Restart=always

[Install]
WantedBy=default.target lme.service

[Container]
ContainerName=lme-fleet-server
Environment=FLEET_ENROLL=1 FLEET_SERVER_POLICY_ID=fleet-server-policy FLEET_SERVER_ENABLE=1 KIBANA_FLEET_SETUP=1 KIBANA_HOST=https://lme-kibana:5601 FLEET_URL=https://lme-fleet-server:8220 FLEET_SERVER_ELASTICSEARCH_HOST=https://lme-elasticsearch:9200 FLEET_CA=/certs/ca/ca.crt  FLEET_SERVER_CERT=/certs/fleet-server/fleet-server.crt FLEET_SERVER_CERT_KEY=/certs/fleet-server/fleet-server.key FLEET_SERVER_ELASTICSEARCH_CA=/certs/ca/ca.crt KIBANA_FLEET_CA=/certs/ca/ca.crt NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
#TODO: set password in here via script AND load via credential
EnvironmentFile=/opt/lme/lme-environment.env
Image=localhost/elastic-agent:LME_LATEST
Network=lme
HostName=lme-fleet-server
PodmanArgs=--network-alias lme-fleet-server --requires 'lme-elasticsearch,lme-kibana'
PublishPort=8220:8220
Volume=lme_certs:/certs
#User=root
UserNS=auto
