# lme-caddy.container
[Unit]
Description=Caddy Container
Requires=lme-setup-certs.service 
After=lme-setup-certs.service 
PartOf=lme.service

[Install]
WantedBy=default.target lme.service

[Service]
Restart=always

[Container]
ContainerName=lme-caddy
Image=localhost/caddy:LME_LATEST
Network=lme
PodmanArgs=--network-alias lme-caddy 
PublishPort=80:80
PublishPort=443:443
Volume=/opt/lme/config/caddy:/etc/caddy/
Volume=lme_certs:/etc/caddy/certs
