# lme-elasticsearch-security-setup.container
[Unit] 
Requires=lme-network.service
After=lme.service lme-network.service
PartOf=lme.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=lmed

[Install]
WantedBy=default.target lme.service

[Container]
ContainerName=lme-setup-certs
EnvironmentFile=/opt/lme/lme-environment.env
Exec=/bin/bash /usr/share/elasticsearch/config/setup/init-setup.sh
Image=localhost/elasticsearch:LME_LATEST
Network=lme
PodmanArgs=--network-alias lme-setup --health-interval=2s 
User=0
Volume=lme_certs:/usr/share/elasticsearch/config/certs
Volume=/opt/lme/config/setup:/usr/share/elasticsearch/config/setup

