# lme.network
[Unit] 
PartOf=lme.service
After=lme.service

[Service]

[Network]
Driver=bridge
Gateway=10.89.4.1
IPAMDriver=host-local
NetworkName=lme
Subnet=10.89.4.0/24
