[Unit]
Description=LME Setup Service
After=nix-daemon.service
Requires=nix-daemon.service

[Service]
Type=oneshot
Environment="HOST_IP=${HOST_IP}"
WorkingDirectory=/root/LME
ExecStart=/bin/bash /root/LME/docker/24.04/lme-init.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
