[Unit]
Description=LME Setup Service

[Service]
Type=oneshot
WorkingDirectory=/LME
ExecStart=/bin/bash /LME/docker/lme-init.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
