[Unit]
Description=LME Setup Service
After=docker.service elasticsearch.service kibana.service
Requires=docker.service elasticsearch.service kibana.service

[Service]
Type=oneshot
WorkingDirectory=/root/LME
ExecStart=/bin/bash /root/LME/docker/lme-init.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
