
module java-fusefs-socket 1.0;

require {
	type fusefs_t;
	type container_t;
	class sock_file create;
}

#============= container_t ==============
allow container_t fusefs_t:sock_file create;
