
module podman-wrapper-libs 1.0;

require {
	type default_t;
	type init_t;
	class lnk_file read;
}

#============= init_t ==============
allow init_t default_t:lnk_file read;
