[Unit]
Description=LME Setup Service
StartLimitIntervalSec=0

[Service]
Type=oneshot
WorkingDirectory=/root/LME
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash -c /root/LME/docker/22.04/lme-init.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
