# Comes from an install using InstallTestbed.ps1 many tests use it 
export elastic='yourelasticpassword'

# For api tests that connect directly to elasticsearch
export ES_HOST="lme" # When running in docker and connecting from dev container 
# export ES_HOST=xx.xx.xx.xxx # When you have a cluser installed in azure 

# Selenium tests folder. Connects to kibana
export KIBANA_HOST=lme # When running in docker and connecting from dev container
# export KIBANA_HOST=localhost # When running the tests inside of the lme container
# export KIBANA_HOST=xx.xx.xx.xxx # When you have a cluser installed in azure 
export KIBANA_PORT=443
export KIBANA_USER=elastic
export SELENIUM_TIMEOUT=60
# debug, detached, headless
export SELENIUM_MODE=headless

# selenium_tests.py
export ELASTIC_PASSWORD='yourelasticpassword'