attrs>=23.2.0
certifi>=2023.11.17
charset-normalizer>=3.3.2
exceptiongroup>=1.2.0
idna>=3.6
iniconfig>=2.0.0
jsonschema>=4.21.1
jsonschema-specifications>=2023.12.1
packaging>=23.2
pluggy>=1.4.0
pytest>=8.0.0
pytest-dotenv>=0.5.2
python-dotenv>=1.0.1
referencing>=0.33.0
requests>=2.31.0
rpds-py>=0.17.1
tomli>=2.0.1
urllib3>=2.1.0
selenium
webdriver-manager
pytest-html>=4.1.1
paramiko>=2.7.2
