on:
    workflow_dispatch:
    push:
      branches:
        - main
      tags:
        - 'v[0-9]+.[0-9]+.[0-9]+*'  # match basic semver tags
    pull_request:
      branches:
         - main
         - 'release-*'
  
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint Shell Scripts
        continue-on-error: true
        run: |
          sudo apt-get update
          sudo apt-get install shellcheck
          shellcheck **/*.sh
  
      - name: Lint PowerShell Scripts
        continue-on-error: true
        run: |
          pwsh -Command "Invoke-ScriptAnalyzer -EnableExit -Recurse -Path ."
  
      - name: Lint Lua
        continue-on-error: true
        run: |
          sudo apt-get install -y luarocks
          sudo luarocks install luacheck
          luacheck **/*.lua
  
      - name: Lint TeX Files
        continue-on-error: true
        run: |
          sudo apt-get install chktex
          chktex **/*.tex

      - name: Lint YAML Files
        continue-on-error: true
        run: |
          sudo apt-get update
          sudo apt-get install yamllint
          yamllint -f parsable **/*.yml
          
  semgrep-scan:
    runs-on: ubuntu-latest
    container: 
      image: returntocorp/semgrep:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Semgrep Scan
        continue-on-error: true
        run: |
          semgrep --config "p/r2c" .

  build-release:
    if: startsWith(github.head_ref, 'release') # trigger job on creation of release-* PR
    # if: github.ref == 'refs/heads/main' # trigger job on push to main 
    runs-on: ubuntu-latest
    needs: [lint, semgrep-scan]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get release version
        id: version
        run: | 
          echo "version=${GITHUB_HEAD_REF##*-}" >> $GITHUB_ENV

      - name: Get current date
        id: date
        run: |
          echo "date=$(date + '%Y-%m-%d')" >> $GITHUB_ENV 

      - name: Build assets
        run: git ls-files | zip LME-${{ env.version }}.zip -@

      - name: Build Changelog
        id: release
        uses: mikepenz/release-changelog-builder-action@v3
        with:
          #fromTag: ${{ github.head_ref }}
          #toTag: ${{ github.ref }}
          configurationJson: |
            {
              "template": "#{{CHANGELOG}}",
              "pr_template": "- #{{TITLE}}",
              "categories": [
                {
                  "title": "## What's Added",
                  "labels": ["feat"],
                },
                {
                  "title": "## What's Fixed",
                  "labels": ["fix"],
                },
                {
                  "title": "##Uncategorized",
                  "labels": [],
                },
              ]
            }
          commitMode: true
          failOnError: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: "LME v${{ env.version }}"
          tag_name: "v${{ env.version }}"
          files: LME-${{ env.version }}.zip
          draft: true
          generate_release_notes: false
          body: "## [${{ env.version }}] - Timberrrrr! - ${{ env.date }}\n ${{ steps.release.outputs.changelog }}"
          fail_on_unmatched_files: true
